.header {
  display: flex;
  justify-content: space-between;

  &__heading {
    font-size: var(--fs-1);
    color: var(--color-name);
    font-weight: var(--fw-bold);
    text-decoration: none;
  }

  &__toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: var(--fw-bold);
    color: var(--color-text);
    text-transform: uppercase;
    letter-spacing: 2.5px;
    background-color: transparent;
    border: none;
    font-size: var(--fs-body);
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      color: var(--color-toggle-hover);
    }
  }
}
